<div class="instructor-list">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Hire Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (InstructorItemList != null)
            {
                foreach (var item in InstructorItemList)
                {
                    <tr>
                        <td>
                            @item.FullName
                        </td>
                        <td>
                            @item.HireDate
                        </td>
                        <td>
                            @*<span @onclick="() => OnItemEdit(item)" class="btn" style="background-color:lightgray;" value="@item.ID">Edit</span> |
                                <span @onclick="() => OnItemDetails(item)" class="btn" style="background-color:lightgray;" value="@item.StudentID">Details</span> |
                                <span @onclick="() => OnItemDelete(item)" class="btn" style="background-color:lightgray;" value="@item.StudentID">Delete</span>*@
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="pagination">
    <ContosoUniversity.Components.Navigation.Pager @ref="childPager" OnLoadDataFromDb="LoadDataFromDb" PagerSize=4 PageSize=3 FirstLoadPage=1 />
</div>
